@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.header-bar-ctn{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .5rem;
    background-color: #f9f9f9;
    .user-ctn{
        display: flex;
        align-items: center;
        .user{
            margin: .5rem;
            font-weight: lighter;
            color: #616161;
        }
        .coins-ctn{
            width: max-content;
            display: flex;
            align-items: center;
            background-color: #ededed;
            border-radius: 100px;
            padding: .2rem;
            .cant-coins{
                margin: .2rem;
                color: #616161;
            }
            .coin-icon{
                width: 1.5rem;
            }
        }
    }
}

.header-image-ctn{
    position: relative;
    .header-image{
        width: 100%;
    }  
    .title{
        position: absolute;
        bottom: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 4rem;
        color: #FFFFFF;
        padding: 1rem 1rem 3rem 3rem;  
    }
}
.main{
    background-color: #f9f9f9;
    .filter-ctn{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .botonera{
            display: flex;
            flex-flow: row wrap;
            width: 65%;
            margin: 1rem 0 1rem 1rem;
            .page{
                font-size: 1.5rem;
                color: #616161;
                padding: .7rem;
                border-right: 1px solid #d9d9d9;
            }
            .btns-ctn{
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                .sort{
                    font-size: 1.5rem;
                    color: #a3a3a3;
                    padding: .7rem .7rem .7rem .7rem;
                }
                .button{
                    font-size: 1.2rem;
                    cursor: pointer;
                    background-color: #ededed;
                    color: #a3a3a3;
                    border: none;
                    width: max-content;
                    border-radius: 100px;
                    padding: 10px;
                    margin: 0 .2rem .2rem 0;
                    margin: .2rem .3rem;
                    &:active{
                        background-color: #0ad4fa;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .move-page{
            height: max-content;
            .btn-move{
                background: none;
                border: none;
                margin: 0 .3rem;
                .slide{
                    cursor: pointer;
                    width: 3rem;
                }
            }
        }
        
    }
    
    .products-gallery{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        .product-card{
            background-color: #FFFFFF;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 276px;
            box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
            margin: 1rem;
            .images-ctn {
                .product-image{
                    width: 90%;
                }
                .buy-icon{
                    position: relative;
                    width: 2rem;
                    float: right;
                    margin: 1rem 1rem 0 1rem;
                }
                &:after{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                    border-top: 1px solid #d9d9d9;
                }
            }
            
            .text-box{
                text-align: left;
                padding: 1rem;
                .product-category{
                    color:#a3a3a3;
                }
                .product-model{
                    color:#616161;
                }
            }
        }
    }
}
