@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

$breakpoint-xlg: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 760px;

@mixin respond-to($medias...) {
    @each $media in $medias {
        @if $media == xlg-screen {
            @media screen and (min-width: $breakpoint-xlg) { @content; }
        }
        @else if $media == desktop-screen {
            @media (min-width: $breakpoint-lg) { @content; }
        }
        @else if $media == tablet-screen {
            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.header-bar-ctn{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    .user-ctn{
        display: flex;
        align-items: center;
        .user{
            margin: .5rem;
            font-weight: lighter;
            color: #616161;
        }
        .coins-ctn{
            width: max-content;
            display: flex;
            align-items: center;
            background-color: #ededed;
            border-radius: 100px;
            padding: .2rem;
            .cant-coins{
                margin: .2rem;
                color: #616161;
            }
            .coin-icon{
                width: 1.5rem;
            }
        }
    }
}

.header-image-ctn{
    position: relative;
    background-color: #f9f9f9;
    .header-image{
        width: 100%;
    }  
    .title{
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2rem;
        color: #FFFFFF;
        @include respond-to(tablet-screen, desktop-screen, xlg-screen){
            font-size: 3rem;
            bottom: 2rem;
            left: 2rem;
        }  
    }
}
.main{
    background-color: #f9f9f9;
    padding-top: 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .filter-ctn{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        // align-items: center;
        align-items: flex-start;
        @include respond-to(tablet-screen, desktop-screen, xlg-screen){
            width: 90%;
            justify-content: space-around;
        } 
        .botonera{
            display: flex;
            flex-flow: row wrap;
            margin: 1rem 0 1rem 1rem;
            .page{
                font-size: 1rem;
                color: #616161;
                padding: .7rem;
                border-right: 1px solid #d9d9d9;
                @include respond-to(tablet-screen, desktop-screen, xlg-screen){
                    font-size: 1.5rem;
                } 
            }
            .btns-ctn{
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                .sort{
                    font-size: 1rem;
                    color: #a3a3a3;
                    padding: .7rem .7rem .7rem .7rem;
                    @include respond-to(tablet-screen, desktop-screen, xlg-screen){
                        font-size: 1.5rem;
                    } 
                }
                .button{
                    font-size: 1rem;
                    cursor: pointer;
                    background-color: #ededed;
                    color: #a3a3a3;
                    border: none;
                    width: max-content;
                    border-radius: 100px;
                    padding: 10px;
                    margin: .2rem;
                    @include respond-to(tablet-screen, desktop-screen, xlg-screen){
                        font-size: 1.1rem;
                    } 
                    &:active{
                        background-color: #0ad4fa;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .move-page{
            height: max-content;
            padding: .7rem 0;
            .btn-move{
                background: none;
                border: none;
                margin: 0 .3rem;
                .slide{
                    cursor: pointer;
                    width: 3rem;
                }
            }
        }
        
    }
    
    .products-gallery{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        @include respond-to(tablet-screen, desktop-screen, xlg-screen){
            width: 90%;
        }  
        .product-card{
            background-color: #FFFFFF;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 20%;
            min-width: 276px;
            box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.10);
            margin: 1rem;
            // width: 40%;
            position: relative;
            &:hover{
                box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.55);
                .hover-card{
                    display: flex;
                    position: absolute;
                }
            }
            @include respond-to(tablet-screen, desktop-screen, xlg-screen){
                width: unset;
            } 
            .images-ctn {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                .product-image{
                    width: 90%;
                }
                .buy-icon{
                    align-self: flex-end;
                    width: 2rem;
                    margin: 1rem 1rem 0 1rem;
                }
                &:after{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 90%;
                    border-top: 1px solid #d9d9d9;
                }
            }
            
            .text-box{
                text-align: left;
                padding: 1rem;
                .product-category{
                    color:#a3a3a3;
                }
                .product-model{
                    color:#616161;
                }
            }
            .hover-card{
                display: none;
                background-image: linear-gradient(-180deg, rgba(10, 212, 250, 0.8) 0%, rgba(37, 187, 241, 0.8) 100%);
                top: 0;
                left: 0;
                z-index: 200000;
                min-width: 276px;
                width: 100%;
                height: 100%;
                flex-flow: column nowrap;
                .buy-icon-hover{
                    align-self: flex-end;
                    margin: .5rem .5rem 0 .5rem;
                }
                .cost{
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    padding-top: 3rem;
                    .cant-coins{
                        font-size: 2.25rem;
                        color: #ffffff;
                        margin: .5rem;
                    }
                }
                .redeem-btn{
                    background: #ffffff;
                    border: none;
                    width: 10%;
                    min-width:228px;
                    height:42px;
                    border-radius: 100px;
                    font-size:1.2rem;
                    color:#616161;
                }
            }
        }
    }
}

